<div class="container">
    <div class="row p-5">
        <div class="col-md-6">
            <form method="POST" target="/formulario" class="card card-body">
                <div class="form-group">

                    <label for="marca">Marca</label>
                    <input name="marca" class="form-control" type="text"  id="marca" placeholder="Marca">

                </div>
                <div class="form-group">
                    <label for="modelo">Modelo</label>
                    <input name="modelo" class="form-control" type="text"  id="modelo" placeholder="Moto: Marca y cilindrada">
                </div>
                <div class="form-group">
                    <label for="año">Año</label>
                    <input name="puntos" class="form-control" type="text"  id="año" placeholder="Puntos">
                </div>

                 <button type="submit" class="btn btn-primary">Agregar Auto</button>
            </form>
        </div>
    </div>

</div>